.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
ios/Pods/
ios/Runner.xcworkspace/
**/google-services.json
**/GoogleService-Info.plist
service_account*.json
*.p8
*.pem
*.cer
*.mobileprovision
*.env
